 body {
 	margin: 0;
 	padding: 0;
 	font-family: Arial, sans-serif;
 }

 .main-container {
 	display: flex;
 	flex-direction: column;
 	height: 100vh;
 	/* 使主容器占據整個視窗高度 */
 }

 .toolbar-container {
 	display: flex;
 	background-color: #0A2463;
 	justify-content: center;
 }

 .toolbar {
 	padding: 10px;
 	cursor: pointer;
 	border: 1px solid #ccc;
 	margin-right: 50px;
 	margin-left: 50px;
 	margin-block: 5px;
 	width: 100px;
 	box-sizing: border-box;
 	background-color: rgb(30, 135, 240);
 	color: white;
 	text-align: center;
 }


 .toolbar:hover {
 	background-color: #ddd;
 }

 .chat-list {
 	display: flex;
 	flex-direction: column;
 	overflow-y: auto;
 	flex: 1;
 	/* 使聊天列表占據剩餘的高度 */
 }
 
 .search-list {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
}

 .chat-room {
 	border-bottom: 1px solid rgb(240, 240, 240);
 	padding: 10px;
 	cursor: pointer;
 }

 .chat-room:hover {
 	background-color: rgb(245, 245, 245);
 }

 .chat-room .user {
 	font-size: 18px;
 	font-weight: bold;
 }

 .chat-room .last-message {
 	color: rgb(102, 102, 102);
 	overflow: hidden;
 	white-space: nowrap;
 	text-overflow: ellipsis;
 }

 .chat-content {
 	padding: 20px;
 }

 .chat-header {
 	font-size: 24px;
 	font-weight: bold;
 	margin-bottom: 10px;
 }

 .message {
 	margin-bottom: 10px;
 }
 
 h1 {
	margin-left: 10px;
}

h3 {
	margin-left: 10px;
}

.input {
	height: 30px;
	width: 600px;
	padding: 8px;
	margin-left: 10px;
	font-size: 16px;
}

.searchButton {
	all: unset;
	display: inline-block;
	background-color: #0a2463;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 18px;
	height: 40px;
	width: 100px;
	text-align: center;
	margin-left: 10px;
	margin-bottom: 10px;
}

.button {
	all: unset;
	background-color: rgb(0, 123, 255);
	border-radius: 10px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: 18px;
	height: 40px;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
}

#resultsList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	max-height: 300px;
	overflow-y: auto;
}

.user {
	font-weight: bold;
	margin-right: 10px;
}

.account {
	font-size: 14px;
	color: #666;
}

.chat-button {
	background-color: #d9e4f9;
	border: none;
	color: #0a2463;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

.button-container {
	margin-left: auto;
	margin-right: 10px;
}